/*
 * Payments Risk API
 * API for detecting and scoring fraud for purchases, with lifecycle labeling and behavioral signals. v1 focuses on purchases only (`/risk/check`), with future account/session and KYC checks stubbed below. 
 *
 * The version of the OpenAPI document: 0.1.6
 * Contact: support@alogram.ai
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alogram.payrisk.v1.api;

import com.alogram.v1.client.ApiClient;
import com.alogram.v1.client.ApiException;
import com.alogram.v1.client.ApiResponse;
import com.alogram.v1.client.Configuration;
import com.alogram.v1.client.Pair;

import com.alogram.payrisk.v1.models.AccountCheckRequest;
import com.alogram.payrisk.v1.models.CheckRequest;
import com.alogram.payrisk.v1.models.DecisionResponse;
import com.alogram.payrisk.v1.models.KycCheckRequest;
import com.alogram.payrisk.v1.models.PaymentEvent;
import com.alogram.payrisk.v1.models.Problem;
import com.alogram.payrisk.v1.models.ScoresSuccessResponse;
import com.alogram.payrisk.v1.models.SignalsRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-01-16T04:12:17.824225483Z[Etc/UTC]", comments = "Generator version: 7.15.0")
public class PayriskApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public PayriskApi() {
    this(Configuration.getDefaultApiClient());
  }

  public PayriskApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response) throws ApiException {
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(response.body(), file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Synchronous fraud decision for account/session events (signup, login, settings)
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param accountCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return DecisionResponse
   * @throws ApiException if fails to make API call
   */
  public DecisionResponse accountRiskCheck(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull AccountCheckRequest accountCheckRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return accountRiskCheck(xIdempotencyKey, accountCheckRequest, xTraceId, null);
  }

  /**
   * Synchronous fraud decision for account/session events (signup, login, settings)
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param accountCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return DecisionResponse
   * @throws ApiException if fails to make API call
   */
  public DecisionResponse accountRiskCheck(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull AccountCheckRequest accountCheckRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    ApiResponse<DecisionResponse> localVarResponse = accountRiskCheckWithHttpInfo(xIdempotencyKey, accountCheckRequest, xTraceId, headers);
    return localVarResponse.getData();
  }

  /**
   * Synchronous fraud decision for account/session events (signup, login, settings)
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param accountCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return ApiResponse&lt;DecisionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DecisionResponse> accountRiskCheckWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull AccountCheckRequest accountCheckRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return accountRiskCheckWithHttpInfo(xIdempotencyKey, accountCheckRequest, xTraceId, null);
  }

  /**
   * Synchronous fraud decision for account/session events (signup, login, settings)
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param accountCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;DecisionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DecisionResponse> accountRiskCheckWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull AccountCheckRequest accountCheckRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accountRiskCheckRequestBuilder(xIdempotencyKey, accountCheckRequest, xTraceId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accountRiskCheck", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DecisionResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        DecisionResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DecisionResponse>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<DecisionResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accountRiskCheckRequestBuilder(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull AccountCheckRequest accountCheckRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'xIdempotencyKey' is set
    if (xIdempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'xIdempotencyKey' when calling accountRiskCheck");
    }
    // verify the required parameter 'accountCheckRequest' is set
    if (accountCheckRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'accountCheckRequest' when calling accountRiskCheck");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/risk/account/check";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xTraceId != null) {
      localVarRequestBuilder.header("x-trace-id", xTraceId.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("x-idempotency-key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(accountCheckRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieve fraud scores for a customer
   * 
   * @param tenantId  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param xIdempotencyKey Unique Idempotency-Key sent in the GET request etc. (optional)
   * @param startTime  (optional)
   * @param endTime  (optional)
   * @param pageSize  (optional, default to 50)
   * @param pageToken  (optional)
   * @return ScoresSuccessResponse
   * @throws ApiException if fails to make API call
   */
  public ScoresSuccessResponse getFraudScores(@javax.annotation.Nonnull String tenantId, @javax.annotation.Nullable String xTraceId, @javax.annotation.Nullable String xIdempotencyKey, @javax.annotation.Nullable String startTime, @javax.annotation.Nullable String endTime, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String pageToken) throws ApiException {
    return getFraudScores(tenantId, xTraceId, xIdempotencyKey, startTime, endTime, pageSize, pageToken, null);
  }

  /**
   * Retrieve fraud scores for a customer
   * 
   * @param tenantId  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param xIdempotencyKey Unique Idempotency-Key sent in the GET request etc. (optional)
   * @param startTime  (optional)
   * @param endTime  (optional)
   * @param pageSize  (optional, default to 50)
   * @param pageToken  (optional)
   * @param headers Optional headers to include in the request
   * @return ScoresSuccessResponse
   * @throws ApiException if fails to make API call
   */
  public ScoresSuccessResponse getFraudScores(@javax.annotation.Nonnull String tenantId, @javax.annotation.Nullable String xTraceId, @javax.annotation.Nullable String xIdempotencyKey, @javax.annotation.Nullable String startTime, @javax.annotation.Nullable String endTime, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String pageToken, Map<String, String> headers) throws ApiException {
    ApiResponse<ScoresSuccessResponse> localVarResponse = getFraudScoresWithHttpInfo(tenantId, xTraceId, xIdempotencyKey, startTime, endTime, pageSize, pageToken, headers);
    return localVarResponse.getData();
  }

  /**
   * Retrieve fraud scores for a customer
   * 
   * @param tenantId  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param xIdempotencyKey Unique Idempotency-Key sent in the GET request etc. (optional)
   * @param startTime  (optional)
   * @param endTime  (optional)
   * @param pageSize  (optional, default to 50)
   * @param pageToken  (optional)
   * @return ApiResponse&lt;ScoresSuccessResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScoresSuccessResponse> getFraudScoresWithHttpInfo(@javax.annotation.Nonnull String tenantId, @javax.annotation.Nullable String xTraceId, @javax.annotation.Nullable String xIdempotencyKey, @javax.annotation.Nullable String startTime, @javax.annotation.Nullable String endTime, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String pageToken) throws ApiException {
    return getFraudScoresWithHttpInfo(tenantId, xTraceId, xIdempotencyKey, startTime, endTime, pageSize, pageToken, null);
  }

  /**
   * Retrieve fraud scores for a customer
   * 
   * @param tenantId  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param xIdempotencyKey Unique Idempotency-Key sent in the GET request etc. (optional)
   * @param startTime  (optional)
   * @param endTime  (optional)
   * @param pageSize  (optional, default to 50)
   * @param pageToken  (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;ScoresSuccessResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScoresSuccessResponse> getFraudScoresWithHttpInfo(@javax.annotation.Nonnull String tenantId, @javax.annotation.Nullable String xTraceId, @javax.annotation.Nullable String xIdempotencyKey, @javax.annotation.Nullable String startTime, @javax.annotation.Nullable String endTime, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String pageToken, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getFraudScoresRequestBuilder(tenantId, xTraceId, xIdempotencyKey, startTime, endTime, pageSize, pageToken, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getFraudScores", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScoresSuccessResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        ScoresSuccessResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScoresSuccessResponse>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<ScoresSuccessResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getFraudScoresRequestBuilder(@javax.annotation.Nonnull String tenantId, @javax.annotation.Nullable String xTraceId, @javax.annotation.Nullable String xIdempotencyKey, @javax.annotation.Nullable String startTime, @javax.annotation.Nullable String endTime, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String pageToken, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling getFraudScores");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/scores/{tenantId}"
        .replace("{tenantId}", ApiClient.urlEncode(tenantId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "startTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startTime", startTime));
    localVarQueryParameterBaseName = "endTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endTime", endTime));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "pageToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageToken", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xTraceId != null) {
      localVarRequestBuilder.header("x-trace-id", xTraceId.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("x-idempotency-key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Health check for the service
   * 
   * @throws ApiException if fails to make API call
   */
  public void healthCheck() throws ApiException {
    healthCheck(null);
  }

  /**
   * Health check for the service
   * 
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void healthCheck(Map<String, String> headers) throws ApiException {
    healthCheckWithHttpInfo(headers);
  }

  /**
   * Health check for the service
   * 
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> healthCheckWithHttpInfo() throws ApiException {
    return healthCheckWithHttpInfo(null);
  }

  /**
   * Health check for the service
   * 
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> healthCheckWithHttpInfo(Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = healthCheckRequestBuilder(headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("healthCheck", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder healthCheckRequestBuilder(Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/health";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Ingest payment lifecycle events (authorization, capture, settlement, refund, dispute, chargeback, chargeback_outcome). 
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param paymentEvent  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @throws ApiException if fails to make API call
   */
  public void ingestPaymentEvent(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull PaymentEvent paymentEvent, @javax.annotation.Nullable String xTraceId) throws ApiException {
    ingestPaymentEvent(xIdempotencyKey, paymentEvent, xTraceId, null);
  }

  /**
   * Ingest payment lifecycle events (authorization, capture, settlement, refund, dispute, chargeback, chargeback_outcome). 
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param paymentEvent  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void ingestPaymentEvent(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull PaymentEvent paymentEvent, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    ingestPaymentEventWithHttpInfo(xIdempotencyKey, paymentEvent, xTraceId, headers);
  }

  /**
   * Ingest payment lifecycle events (authorization, capture, settlement, refund, dispute, chargeback, chargeback_outcome). 
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param paymentEvent  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> ingestPaymentEventWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull PaymentEvent paymentEvent, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return ingestPaymentEventWithHttpInfo(xIdempotencyKey, paymentEvent, xTraceId, null);
  }

  /**
   * Ingest payment lifecycle events (authorization, capture, settlement, refund, dispute, chargeback, chargeback_outcome). 
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param paymentEvent  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> ingestPaymentEventWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull PaymentEvent paymentEvent, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestPaymentEventRequestBuilder(xIdempotencyKey, paymentEvent, xTraceId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestPaymentEvent", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestPaymentEventRequestBuilder(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull PaymentEvent paymentEvent, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'xIdempotencyKey' is set
    if (xIdempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'xIdempotencyKey' when calling ingestPaymentEvent");
    }
    // verify the required parameter 'paymentEvent' is set
    if (paymentEvent == null) {
      throw new ApiException(400, "Missing the required parameter 'paymentEvent' when calling ingestPaymentEvent");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/events";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xTraceId != null) {
      localVarRequestBuilder.header("x-trace-id", xTraceId.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("x-idempotency-key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(paymentEvent);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Ingest non-payment signals (account or interaction) for modeling
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param signalsRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @throws ApiException if fails to make API call
   */
  public void ingestSignals(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull SignalsRequest signalsRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    ingestSignals(xIdempotencyKey, signalsRequest, xTraceId, null);
  }

  /**
   * Ingest non-payment signals (account or interaction) for modeling
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param signalsRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void ingestSignals(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull SignalsRequest signalsRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    ingestSignalsWithHttpInfo(xIdempotencyKey, signalsRequest, xTraceId, headers);
  }

  /**
   * Ingest non-payment signals (account or interaction) for modeling
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param signalsRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> ingestSignalsWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull SignalsRequest signalsRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return ingestSignalsWithHttpInfo(xIdempotencyKey, signalsRequest, xTraceId, null);
  }

  /**
   * Ingest non-payment signals (account or interaction) for modeling
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param signalsRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> ingestSignalsWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull SignalsRequest signalsRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestSignalsRequestBuilder(xIdempotencyKey, signalsRequest, xTraceId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestSignals", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestSignalsRequestBuilder(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull SignalsRequest signalsRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'xIdempotencyKey' is set
    if (xIdempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'xIdempotencyKey' when calling ingestSignals");
    }
    // verify the required parameter 'signalsRequest' is set
    if (signalsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'signalsRequest' when calling ingestSignals");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/signals";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xTraceId != null) {
      localVarRequestBuilder.header("x-trace-id", xTraceId.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("x-idempotency-key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(signalsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Synchronous decision for KYC/identity verification
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param kycCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return DecisionResponse
   * @throws ApiException if fails to make API call
   */
  public DecisionResponse kycRiskCheck(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull KycCheckRequest kycCheckRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return kycRiskCheck(xIdempotencyKey, kycCheckRequest, xTraceId, null);
  }

  /**
   * Synchronous decision for KYC/identity verification
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param kycCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return DecisionResponse
   * @throws ApiException if fails to make API call
   */
  public DecisionResponse kycRiskCheck(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull KycCheckRequest kycCheckRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    ApiResponse<DecisionResponse> localVarResponse = kycRiskCheckWithHttpInfo(xIdempotencyKey, kycCheckRequest, xTraceId, headers);
    return localVarResponse.getData();
  }

  /**
   * Synchronous decision for KYC/identity verification
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param kycCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return ApiResponse&lt;DecisionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DecisionResponse> kycRiskCheckWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull KycCheckRequest kycCheckRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return kycRiskCheckWithHttpInfo(xIdempotencyKey, kycCheckRequest, xTraceId, null);
  }

  /**
   * Synchronous decision for KYC/identity verification
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param kycCheckRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;DecisionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DecisionResponse> kycRiskCheckWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull KycCheckRequest kycCheckRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = kycRiskCheckRequestBuilder(xIdempotencyKey, kycCheckRequest, xTraceId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("kycRiskCheck", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DecisionResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        DecisionResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DecisionResponse>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<DecisionResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder kycRiskCheckRequestBuilder(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull KycCheckRequest kycCheckRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'xIdempotencyKey' is set
    if (xIdempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'xIdempotencyKey' when calling kycRiskCheck");
    }
    // verify the required parameter 'kycCheckRequest' is set
    if (kycCheckRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'kycCheckRequest' when calling kycRiskCheck");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/risk/kyc/check";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xTraceId != null) {
      localVarRequestBuilder.header("x-trace-id", xTraceId.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("x-idempotency-key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(kycCheckRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Synchronous fraud decision for a purchase
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param checkRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return DecisionResponse
   * @throws ApiException if fails to make API call
   */
  public DecisionResponse riskCheck(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull CheckRequest checkRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return riskCheck(xIdempotencyKey, checkRequest, xTraceId, null);
  }

  /**
   * Synchronous fraud decision for a purchase
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param checkRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return DecisionResponse
   * @throws ApiException if fails to make API call
   */
  public DecisionResponse riskCheck(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull CheckRequest checkRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    ApiResponse<DecisionResponse> localVarResponse = riskCheckWithHttpInfo(xIdempotencyKey, checkRequest, xTraceId, headers);
    return localVarResponse.getData();
  }

  /**
   * Synchronous fraud decision for a purchase
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param checkRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @return ApiResponse&lt;DecisionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DecisionResponse> riskCheckWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull CheckRequest checkRequest, @javax.annotation.Nullable String xTraceId) throws ApiException {
    return riskCheckWithHttpInfo(xIdempotencyKey, checkRequest, xTraceId, null);
  }

  /**
   * Synchronous fraud decision for a purchase
   * 
   * @param xIdempotencyKey Unique Idempotency-Key sent in the POST request etc. (required)
   * @param checkRequest  (required)
   * @param xTraceId Echoed or generated trace ID for tracking requests. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;DecisionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DecisionResponse> riskCheckWithHttpInfo(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull CheckRequest checkRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = riskCheckRequestBuilder(xIdempotencyKey, checkRequest, xTraceId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("riskCheck", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DecisionResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponse.body().readAllBytes());
        DecisionResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DecisionResponse>() {});
        
        localVarResponse.body().close();

        return new ApiResponse<DecisionResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder riskCheckRequestBuilder(@javax.annotation.Nonnull String xIdempotencyKey, @javax.annotation.Nonnull CheckRequest checkRequest, @javax.annotation.Nullable String xTraceId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'xIdempotencyKey' is set
    if (xIdempotencyKey == null) {
      throw new ApiException(400, "Missing the required parameter 'xIdempotencyKey' when calling riskCheck");
    }
    // verify the required parameter 'checkRequest' is set
    if (checkRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'checkRequest' when calling riskCheck");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/risk/check";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xTraceId != null) {
      localVarRequestBuilder.header("x-trace-id", xTraceId.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("x-idempotency-key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(checkRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
